#slideshow img{
    margin-top: -20%;
}

#slideshow .bx-viewport{
    max-height: 600px;
    border: none;
    margin: 0;
    left: 0;
}

#slideshow li {
    left: 0;
}

header .navbar{
    position: absolute;
    top: 30px;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}


header .navbar-default .navbar-nav>.active>a, header .navbar-default .navbar-nav>li>a, header .navbar-default .navbar-brand, header .dropdown-menu a{
    color: white;
    background-color: transparent;
}

header .navbar-default .navbar-nav>.active>a:hover, header .navbar-default .navbar-nav>li>a:hover, header .navbar-default .navbar-nav>li.dropdown.open>a:hover, header .navbar-default .navbar-nav>li.dropdown.open>a:focus, header .dropdown-menu a:hover, header .navbar-default .navbar-nav>li.dropdown.open>a, header .navbar-default .navbar-brand:hover{
    background-color: transparent;
    color: #2fb9b0;
}

header .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

header {
    position: relative;
}

.jumbotron, .jumbotron h1 {
    background-color: #222222;
    color: #2fb9b0;
    text-align: center;
}

.jumbotron p{
    color: #ababab;
    text-align: center;
}

p {
    color: #ababab;
}

footer {
    background-color: #222222;
}

footer .container-fluid {
    background-color: #1b1b1b;
    text-align: center;
    border-top: 1px solid #ababab;
    margin-top: 20px;
}

footer .container-fluid p {
    margin: 10px 0;
}

h1, h2, h3 {
    color: #2fb9b0;
}

.center {
    text-align: center;
}

.menus .caption p{
    min-height: 40px;
    vertical-align: middle;
}

.center .caption a.btn {
    background-color: #2fb9b0;
    border: none;
}

.center .caption a.btn:hover {
    box-shadow: inset 0px 3px 30px 0px rgba(50, 50, 50, 0.27);
}

.recommandations {
    margin-top: 3%;
    border-top: 2px solid #ababab;
}

.recommandations h2 {
    margin: 25px 0;
}