<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Restaurant{% endblock title %}</title>
    {% block css %}
        <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/style.css"/>
    {% endblock css %}
</head>
<body>
<header>
    {% block header %}
    {% endblock header %}
</header>
{% block body %}
{% endblock body %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contactez-nous</h3>
                <p>Restaurant Example <br/>
                    9 rue Jules Parent</p>
                <p>Phone : 0147494370 <br/>
                    Email : robin.lebert@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h3>Contactez-nous</h3>
                <p>Restaurant Example <br/>
                    9 rue Jules Parent</p>
                <p>Phone : 0147494370 <br/>
                    Email : robin.lebert@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h3>Contactez-nous</h3>
                <p>Restaurant Example <br/>
                    9 rue Jules Parent</p>
                <p>Phone : 0147494370 <br/>
                    Email : robin.lebert@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <p>&copy; Web Design & Development By</p>
    </div>
</footer>
{% block javascript %}
{% endblock javascript %}
</body>
</html>